import { ChangelogSection } from '../../../components/blog/ChangelogSection'
import { Prose } from '../../../components/blog/Prose'
import type { BlogPost } from '../types'

export const __EXPORT_NAME__: BlogPost = {
  slug: '__SLUG__',
  title: '__TITLE__',
  description: '__DESCRIPTION__',
  date: '__DATE__',
  category: 'release',
  version: '__VERSION__',
  tags: ['release'],
  readingTime: '__READING_TIME__',
  content: (
    <Prose>
      <p>
        This rollup covers __COVERED_VERSIONS_PROSE__. Head to the{' '}
        <a href="https://docs.sencho.io/">Sencho docs</a> for setup guides and
        full feature walkthroughs.
      </p>

      <h2>What&apos;s in this release</h2>
__ADDED_BLOCK__
__FIXED_BLOCK__
__CHANGED_BLOCK__
    </Prose>
  ),
}
